.Footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-top:2px solid #676767 ;
}

.Footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
}

/* Media Query */

@media (max-width: 550px){
    .Footer p{
        font-size: 13px;
    }
    .Footer ul li{
        font-size: 13px;
    }
}

@media (max-width: 466px){
   .Footer{
    flex-direction: column;
   }
}