.Campus{
    width: 90%;
    margin: 80px auto;
    text-align: center;
}

.Campus .gellery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gellery img{
    width: 23%;
    border-radius: 10px;
}

.Campus .dark-btn{
    margin: 20px auto 0;
    background-color: #113086;
    color: white;
    padding: 10px 20px;
    border-radius: 17px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center
  }

  /* Media Query */

  @media (max-width: 660px) {
    .Campus .gellery{
        flex-direction: column;
        margin: 20px;
    }

    .gellery img{
        width: 100%;
        margin: 20px;
    }
}